<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/resources/css/bootstrap.min.css"></link>  
        <link rel="stylesheet" href="/resources/css/bootstrap-select.min.css"></link>    
        <link rel="stylesheet" href="/resources/css/bootstrap-datetimepicker.min.css"></link>   
        <link rel="stylesheet" href="/resources/css/main.css"></link>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Formation</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Accueil</a></li> 
                        <li><a href="listCourse">Consultation</a></li> 
                        <li class="active"><a href="">Inscription</a></li> 
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="col-md-offset-3 col-md-4">
                <h2>Inscription</h2>

                <h4>Cours sélectionné</h4>
                <div class="selected-course">
                    <span class="badge" th:text="${selectedCourse}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>                            
                    </span>
                </div>

                <div class="row">
                    <form action="/validInsertSession" method="POST">
                        <div class="form-group">
                            <label for="firstname">Prénom</label>
                            <input type="text" class="form-control" id="firstname" placeholder="Prénom" name="firstname"/>
                        </div>

                        <div class="form-group">
                            <label for="lastname">Nom</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Nom" name="lastname"/>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email"/>
                        </div>

                        <div class="form-group">
                            <label for="address">Adresse</label>
                            <input type="text" class="form-control" id="address" placeholder="Adresse" name="address"/>
                        </div>

                        <!--<input th:each="course ${selectedCourse}" th:value="*{course}" type="hidden" name="selectCourse"/>-->

                        <button type="submit" class="btn btn-default"><a href="listCourse"> Annuler</a></button>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="/resources/js/jquery.min.js" ></script>
        <script src="/resources/js/bootstrap.min.js" ></script>
    </body>
</html>

