<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/resources/css/bootstrap.min.css"></link>  
        <link rel="stylesheet" href="/resources/css/bootstrap-select.min.css"></link>    
        <link rel="stylesheet" href="/resources/css/bootstrap-datetimepicker.min.css"></link>   
        <link rel="stylesheet" href="/resources/css/main.css"></link>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Formation</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Accueil</a></li> 
                        <li class="active"><a href="listCourse">Consultation</a></li>  
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <h2>Liste des cours</h2>

            <h4>Filtre</h4>
            <div class="row">
                <form class="form-inline" action="/listCourse" method="POST">
                    <div class="col-md-12">
                        <select class="selectpicker" multiple="" data-live-search="true" title="Choississez un cours" data-selected-text-format="count > 3" name="course">
                            <option th:value="*{lstCourse.Code}" th:each="lstCourse: ${listCourse}">
                            <span th:text="${lstCourse.title}"/>
                            </option>
                        </select>

                        <select class="selectpicker" multiple="" data-live-search="true" title="Choississez un lieu" data-selected-text-format="count > 3" name="location">
                            <option th:value="*{location.id}" th:each="location: ${listLocation}">
                            <span th:text="${location.city}"/>
                            </option>
                        </select>

                        <div class="form-group">
                            <label for="datetimepickerStartCourse">Date de départ</label>
                            <div class='input-group date' id='datetimepickerStartCourse'>                                
                                <input type='text' class="form-control" name="dateStartCourse"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="datetimepickerEndCourse">Date de fin</label>
                            <div class='input-group date' id='datetimepickerEndCourse'>
                                <input type='text' class="form-control" name="dateEndCourse"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>   
                        <button type="submit" class="btn btn-info btn-filter">Rechercher</button>
                    </div> 
                </form>
            </div>

            <table  class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>lieu</th>
                        <th>Date de départ</th>
                        <th>Date de fin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="list-course" th:each="course: ${listCourseSession}">
                        <td th:text="${course.courseCode.title}"></td>
                        <td th:text="${course.location.city}"></td>
                        <td th:text="${course.startDate}"></td>
                        <td th:text="${course.endDate}"></td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="selectCourse" th:value="*{course.id}"/>
                            </div>                             
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="/resources/js/jquery.min.js" ></script>
        <script src="/resources/js/moment-with-locales.min.js" ></script>
        <script src="/resources/js/bootstrap.min.js" ></script>
        <script src="/resources/js/bootstrap-select.min.js" ></script>
        <script src="/resources/js/bootstrap-datetimepicker.min.js" ></script>
        <script type="text/javascript">
            $(function () {
                $('#datetimepickerStartCourse').datetimepicker({
                    locale: 'fr'
                });
                $('#datetimepickerEndCourse').datetimepicker({
                    locale: 'fr'
                });
            });
        </script>
    </body>
</html>

